{% extends "base-sidebar.html" %}
{% load i18n %}
{% block extra_title %} - {% trans "My Profile" %}{% endblock %}
{% block content_left %}

<div class="greybox">
    <h3>{% trans "Account Details" %}</h3>
	<div >
		Registered: {{ pkg.date_joined|date:"Y-m-d" }}
	</div>
	<div >
		Username: {{ pkg.username }}
	</div>
	<div >
		First name: {{ pkg.first_name }}
	</div>
	<div >
		Last name: {{ pkg.last_name }}
	</div>
	<div >
		Account Type:
		{% for group in pkg.groups.all %} {{ group.name }} {% endfor %}
	</div>
	<div >
		Email address: <a href="mailto:{{ pkg.email }}">{{ pkg.email }}</a>
	</div>
	<div>
		<a href="{% url aur.views.user_packages pkg.username %}">View this user's packages</a></td>

	</div>
</div>
{% endblock %}
