{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="greybox">
    <h2 class="title">{% trans "Registration form" %}</h2>
    <form method="post" action="." id="registration_form">
        {% for field in form %}
			<div>
				{{ field.label_tag }}:
                {{ field }}
                {% if field.errors %}{{ field.errors }}{% else %}&nbsp;{% endif %}
            </div>
			{% endfor %}
			<div id="registration_submit">
				<input type="submit" value="{% trans "Register" %}" />
				<input type="reset" value="{% trans "Reset" %}" />
			</div>
    </form>
</div>
{% endblock %}
