{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="greybox">
    <h2 class="title">{% trans "Login with your OpenID" %}</h2>
	{% if form.errors %}
	<p class="errors">{% trans "Please correct errors below:" %}<br />
		{% if form.openid_identifier.errors %}
			<span class="error">{{ form.openid_identifier.errors|join:", " }}</span>
		{% endif %}
		{% if form.next.errors %}
			<span class="error">{{ form.next.errors|join:", " }}</span>
		{% endif %}
	</p>
	{% endif %}
	<form name="fopenid" action="{{ action }}" method="post">
			<div><label for="id_openid_identifier">{% trans "OpenID:" %}</label>{{ form.openid_identifier }}</div>
			<div><input name="bsignin" type="submit" value="{% trans "Login" %}"></div>
	 {% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
	 {% endif %}
	</form>
</div>

{% endblock %}
